/*apply to all page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lavenderblush;
    background-size: cover;
    background-position: center;
    font-family: 'roboto', sans-serif;
}
